body {
	text-align: center;
}

.theme1 {
	background-color: #222222;
	color: white;
}

.theme2 {
	background-image: url(../images/dan.png);
	background-color: saddlebrown;
	color: forestgreen;
	font-family: "Trebuchet MS";
}

@font-face {
	font-family: iHateLiam;
	src: url("../fonts/Coca Cola ii.ttf");
}
.theme3 {
	background-color: saddlebrown;
	color: yellow;
	font-family: "iHateLiam";
}

.roundedBox {
	border: 2px solid transparent;
	background-color: white;
	color: black;
	text-decoration-line: none;
	border-radius: 15px;
}

	button, a:hover {
		background-color: #343434;
	}

.test {
	width: 5cm;
	height: 2cm;
}














