body {
	text-align: center;
	
}

.theme1 {
	background-color: #222222;
	color: white;
}

.theme2 {
	background-image: url(../images/dan.png);
	background-color: #ead5ba;
	color: forestgreen;
	font-family: "Trebuchet MS";
}

@font-face {
	font-family: iHateLiam;
	src: url("../fonts/Coca Cola ii.ttf");
}
.theme3 {
	background-color: saddlebrown;
	color: yellow;
	font-family: "iHateLiam";
}

.roundedBox {
	border: 2px solid #ffffff;
	text-align: center;
	border-radius: 15px;
}
	.roundedBox::after {

	}

.roundedLinkBox {
	border: 2px solid #ffffff;
	background-color: #ffffff;
	color: black; 
	text-decoration-line: none;

	padding-left: 10px;
	padding-right: 10px;

	text-align: center;
	border-radius: 15px;
}

	.roundedLinkBox:hover {
		background-color: #343434;
	}




































