body {
	margin: 0;
	color: white;
	background-color: #222222;
	text-align: center;
}

ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: black;
	position: fixed;
	top: 0;
	width: 100%;
}

li {
	float: left;
}

li a {
	display: block;
	color: white;
	text-align: center;
	padding: 26px 0px 24px 8px;
	text-decoration: none;
}

li p {
	font-size: 24px;
}